:root {
    --primary: #4390C8;
    --secondary: #34729E;
    --header: #234E6D;
    --white: #FFFFFF;
    --black: #222222;
    --orange: #DE9E3F;
    --gray: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--black);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: auto;    
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

header {
    background-color: var(--primary);
    padding: 32px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
}

header nav ul li a {
    color: var(--white);
    text-transform: uppercase;
}

#index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

#index h1 {
    margin-bottom: 32px;
    color: var(--header);
    text-transform: uppercase;
}

#index div {
    display: flex;
}

#index a:nth-child(1) {
    margin-right: 8px;
}

#index a:nth-child(2) {
    margin-left: 8px;
}

#index a {
    background-color: var(--secondary);
    padding: 16px;
    color: var(--white);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
}

form, #resultsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 32px 0 64px 0;
}

#resultsList {    
    background-color: var(--gray);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form > div, #resultsList > div {
    min-width: 50%;
    max-width: 80%;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question h2 {
    color: var(--header);
    text-transform: uppercase;
    margin: 32px 0 16px 0;
}

.question p {
    color: var(--header);
    margin-bottom: 16px;
}

.answers {
    background-color: var(--primary);
    color: var(--white);
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

.answers h5 {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.answers > div {
    display: flex;
    align-items: center;
}

.answers input[type=radio] {
    cursor: pointer;
}

.answers label {
    margin-left: 8px;
}

#submit {
    background-color: var(--secondary);    
    padding: 12px;
    border: none;
    color: var(--white);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
    cursor: pointer;
}

#submitContainer {
    margin-top: 32px;
}

#submitContainer input[type=text] {
    margin-left: 16px;
    padding: 8px;
    border: 1px solid var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}

.correctAnswer {
    margin: 8px 0 8px 0;
}

.score {
    margin: 32px 0 32px 0;
    color: var(--header);
    text-transform: uppercase;
}

#newQuiz {
    background-color: var(--secondary);    
    padding: 16px;
    color: var(--white);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
}

footer {
    background-color: var(--primary);
    padding: 16px;
    color: var(--white);
    text-align: center;
}

@media screen and (max-width: 407px) {
    #submitContainer input[type=text] {
        margin-top: 16px;
    }
}